        /* body{
        } */
        .background-box {
            border: 4px solid rgb(238, 185, 86);
            /* margin: 100px; */
            border-radius: 10px;
            margin-bottom: 10px;
            background-color: rgb(244, 219, 181);
            margin-top: 4px;

        }

        .container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            /* grid-template-columns: repeat(autofit); */

        }

        .item {
            border: 4px solid rgb(136, 131, 131);
            margin: 10px;
            height: 300px;
            /* width: 400px; */
            border-radius: 10px;
            background-color: white;

        }

        .next {
            text-align: center;
        }

        .next a {
            text-decoration: none;
            color: black;


        }

        .next h1 {
            margin-bottom: 4px;

        }

        .pages ul {
            margin: 0px;
            padding: 0px;
        }

        a:hover {
            text-decoration: underline;
        }

        .logo ul {
            padding-left: 5px;
            padding-right: 10px;
            display: flex;
            background-color: rgb(244, 219, 181);
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            /* display: flex;
            flex-wrap: wrap; */
            list-style: none;
            margin: auto;
        }

        .logo ul input {
            /* display: flex; */
            flex-wrap: wrap;
            padding: 11px 70px;
            background-color: rgb(255, 255, 255);
            border: 2px solid white;
            /* border-radius: 11px; */
            margin-right: -5px;
        }

        .logo button {
            padding: 11px 15px;
            color: white;
            background-color: orange;
            border: 2px solid white;
            /* border-radius: 11px; */
        }

        .logo button:hover {
            opacity: 60%;
            cursor: pointer;
        }

        .logo img {
            width: 60px;
            height: 60px;
            margin: 10px 10px;
        }

        .navbar {
            position: sticky;
            top: 0;
        }

        .navbar ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            background-color: rgb(236, 199, 104);
            font-size: 20px;
            padding: 10px 60px;
            list-style: none;
            margin: auto;


        }

        .navbar ul li a {
            color: whitesmoke;
            text-decoration: none;

        }

        .navbar ul li a:hover {
            color: #451616;
            opacity: 60%;
        }

        .footer {
            background-color: #616167;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }

        .footer h3 {
            font-size: 30px;
            color: whitesmoke;
            cursor: default;
        }

        .footer a {
            text-decoration: none;
            color: whitesmoke;
            font-size: 20px;
        }


        .footer a:hover {
            color: black;
        }


        .footer li {
            list-style: none;

        }

        .container img {

            height: 80%;
            width: 90%;
            margin: 5%;

        }